In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
os.chdir('/home/leon/db/')

In [7]:
pwd

'/home/leon/db'

In [13]:
df_bet=pd.read_csv('BOB投注属性表.txt',sep='\t')
df_bet=df_bet.loc[(df_bet['bet_day']>='2021-08-01') & (df_bet['bet_day']<='2021-08-01'),:]
df_bet_summary=df_bet.groupby(by=['name']).agg({'valid_bet_amount':'sum'}).reset_index()
df_bet_summary.head()

           name  valid_bet_amount
0  000000000000            540.60
1     000000wsj         125081.90
2        000088            601.73
3        0000aa            143.50
4        000105           5880.12