In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir('/home/leon/db/')

In [5]:
pwd

'/home/leon/db'

In [6]:
df_bet=pd.read_csv('BOB投注属性表.txt',sep='\t')
df_bet=df_bet.loc[(df_bet['bet_day']>='2021-08-01') & (df_bet['bet_day']<='2021-08-01'),:]
df_bet_summary=df_bet.groupby(by=['name']).agg({'valid_bet_amount':'sum'}).reset_index()

In [8]:
df_member=pd.read_csv('BOB用户属性表.txt',sep='\t')
df_member['top_name']=df_member['top_id'].map(df_member.set_index('id')['name'])
df_member['member_vip']=df_member['grade']-1
df_member=df_member.loc[:,['name','top_name','member_vip','status','tag_name']]

          name top_name  member_vip  status tag_name
0     testkaka      NaN           0       1      NaN
1         yoko      NaN           0       1      NaN
2  testyoko123      NaN           0       1      NaN
3     acezhang      NaN           0       0      NaN
4     noke1234      NaN           0       0     test

In [10]:
df_bet_summary1=pd.merge(left=df_bet_summary,right=df_member,how='left',on='name')
df_bet_summary1=df_bet_summary1.drop_duplicates(subset=['name'])

,name,valid_bet_amount,top_name,member_vip,status,tag_name
0,000000000000,834.61,panta2019,3,0,"可疑套利会员,免单红利套利会员"
1,000000wsj,146302.80,85623191,6,0,NaN
2,000016,38.55,lz13396066057,2,0,NaN
3,000088,1827.22,laotie777,3,0,NaN
4,0000aa,252.95,aaa2580369,3,0,NaN